*{
box-sizing: border-box;
font-family: "PT Serrif", serifma;
}

#conteiner{
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 15px 20px;
    min-height: 10vh;
    flex-direction: column;
    text-align: center;
}

header{
    
    /* max-width: 1200px; */
    
}

#menu{
    display: flex;
    gap:185px;
    list-style: none;
    text-align: center;
    
}

#menu a {
    text-decoration: none;
    color: #0176C0;
    padding: 10px 15px;
    font-size: 1.6rem;
  
}

#baner{
    text-align: center;
    max-width: 1200px;
}

#marca{
    max-width: 1200px;
    display: flex;
    background: #0176C0;
    color: white;
    font-size: 1.9rem;
    margin: 0 auto;
    gap: 110px;
    word-break: break-word;
    align-items: center;
    margin-top: 25px;
   
}

.maca{
    height: 600px;
}

#marca-texto h6{
    text-align: left;
    color: #6CC62F;
    margin: 0;
}

#produtos{
    display:flex;
    max-width: 1200px;
    margin-top:25px;
    justify-content: space-between;

}

.produto-1{
    background: #6CC62F;
    border-radius: 6px;
    border: 3px solid #6CC62F;
  
}
.produto-2{
    background: #0176C0;
    border-radius: 6px;
    border: 3px solid #0176C0 ;
}

#mapa{
    display: flex;
    background: #0176C0;
    align-items: center;
    height: 594px;
    gap: 40px;
    margin-top: 30px;
    
}
#mapa-texto h3{
    color: white;
    font-size: 52px;
}
#mapa-texto{
    padding: 15px;
}
.imagem {
    height:594px;


}

#teste{
    display: flex;
    font-size: 3.5rem;
    align-items: center;
  
}

#botaomapa{
    border-top: 1px solid #404345;
    background: #06cc62;
    padding: 16.5px 33px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 28px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    
}
 
#pai{
    display: flex;
}

.mapa-do-site{
    display: flex;
    flex-direction: column;
    /* padding: 60px; */
    margin: auto;
        
}
.mapa-do-site li{
    margin: 25px 0;
}

#imagens{
    display: flex;
    background: #0176C0;
    justify-content: center;
    padding: 65px;
    gap: 40px;

}

#copy{
    padding: 5px 0px;
    text-align: center;
    background: #6CC62F;
    font-size: 1.4rem;
}
@media only screen and (max-width: 600px){

#conteiner{
    width: 100%; 
   
}


#menu{
    display: none;
    
   
         
}

#marca{
    flex-direction: column;
   
}

#produtos{
    flex-direction: column;
    text-align: center;
   
}

#mapa{
    flex-direction: column;

}
#mapa div{
    text-align: center;
    margin-bottom: 15px;

}
.imagem{
    width: 100%;
}



}




