*{
box-sizing: border-box;
font-family: "PT Serrif", serifma;
}



header{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    padding: 15px 20px;
    min-height: 10vh;
    flex-direction: column;
    text-align: center;
}

#menu{
    display: flex;
    gap:185px;
    list-style: none;
    text-align: center;
    
}

#menu a {
    text-decoration: none;
    color: #0176C0;
    padding: 10px 15px;
    font-size: 1.6rem;
  
}

#baner{
    text-align: center;
}

#marca{
    display: flex;
    max-width: 1200px;
    background: #0176C0;
    color: white;
    padding: 5px 10px;
    font-size: 1.9rem;
    margin: 0 auto;
    gap: 110px;
    word-break: break-word;
    align-items: center;
    margin-top: 25px;
   
}
h6{
    text-align: left;
    color: #6CC62F;
    margin: 0;
}

#produtos{
    display:flex;
    max-width: 1200px;
    margin-top:25px;
    gap:48px;

}

.produto-1{
    background: #6CC62F;
    border-radius: 6px;
    border: 3px solid #6CC62F;
  
}
.produto-2{
    background: #0176C0;
    border-radius: 6px;
    border: 3px solid #0176C0 ;
}

#mapa{
    display: flex;
    max-width: 1200px;
    background: #0176C0;
    color: white;
    padding: 5px 10px;
    margin: 0 auto;
    gap: 110px;
    word-break: break-word;
    align-items: center;
    margin-top: 25px;
   
}

/* #mapa h3{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: white;
    background: #0176C0;
    text-align:right;
    justify-content: space-between; */

/* } */

#teste{
    display: flex;
    font-size: 3.5rem;
  
}

#botaomapa{
    border-top: 1px solid #404345;
    background: #06cc62;
    background: -webkit-gradient(linear, left top, left bottom, from(#06cc62), to(#06cc62));
    background: -webkit-linear-gradient(top, #06cc62, #06cc62);
    background: -moz-linear-gradient(top, #06cc62, #06cc62);
    background: -ms-linear-gradient(top, #06cc62, #06cc62);
    background: -o-linear-gradient(top, #06cc62, #06cc62);
    padding: 16.5px 33px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgb(0, 0, 0) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    }
 #botaomapa:hover {
    border-top-color: #4ef705;
    background: #4ef705;
    color: #cccccc;
    }
 #botaomapa:active {
    border-top-color: #1b435e;
    background: #1b435e;
    }
    #pai{
        display: flex;
    }

    .mapa-do-site{
        display: flex;
        flex-direction: column;
        /* padding: 60px; */
        margin: auto;
        
    }
    .mapa-do-site li{
        margin: 25px 0;
    }

    #imagens{
        display: flex;
        background: #0176C0;
        justify-content: center;
        padding: 65px;
        gap: 40px;

    }

    #copy{
        padding: 20px 0px;
        text-align: center;
        background: #6CC62F;
        font-size: 1.4rem;
    }

 




